include _mixin
doctype
html
  head
    include _head
    //time stamp
    - var ts = parseInt(+new Date());
    //style sheets
    link(href="css/style.css?#{ts}", rel="stylesheet")
    //scripts
    //viewport
    //meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  body
    #wrapper.wrapper
      section#top.page
        include section/_top
    include _social_roots
    script(src="js/app.js?#{ts}")
